@font-face {
    font-family: "Convection";
    src: url(../fonts/Conv.ttf);
}

body {
    background-color: rgb(15, 183, 82);
    font-family: 'Convection'
}

.container {
    max-width: 900px;
}

.row {
    position: relative;
    padding: 30px 30px 0px;
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5.2px);
    border: 1px solid rgba(0, 0, 0, 0.27);
    z-index: 10;
}

.col-9 {
    height: 500px;
}

.col:hover {
    border: 2px solid white;
    border-radius: 3px;
    cursor: pointer;
}

.col-3 {
    display: flex;
    flex-direction: column;
    height: 500px;
}

/* test */


#aside .arrow-down,
#aside .arrow-up {
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: white;
    font-size: 30px;
}

.arrow-down {
    bottom: 10px;
}

.arrow-up {
    top: 10px;
}

#aside>* {

    cursor: pointer;
}


.mySlide:not(.active) {
    display: none;
}

.my-text-container {
    color: white;
    bottom: 0;
    transform: translateX(2.5%);
    text-align: right;
    margin-bottom: 5px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.278);
    border-radius: 20px;
    width: 95%;
}

#play-button,
#reverse-button {
    display: none;
}


#buttons {
    max-height: 35px;
}