.row,
.col-3,
.col-9,
.col {
    border: 1px solid black;
}

.col-9 {
    height: 500px;
}

.col {
    height: calc(100% / 5);
    justify-content: center;
}

.col-3 {
    display: flex;
    flex-direction: column;
    height: 500px;
}

/* test */